{% extends "base.html" %} {% block body %}

<!-- SELECTED COURSE DISPLAY -->
<a class="btn btn-primary p-3" href="/">Go Courses List (Home)</a>
<br />
<br />
<br />
<div>
  <form action="/add_comments" method="POST">
    {% csrf_token %}
    <h3>
      Course ID:
      <input class="bg-light" type="text" name="course_desc_id" />
    </h3>
    <br />
    <h3>
      Course Commentary:
      <br />
      <br />
      <input class="form-control bg-light" type="text" name="comments" />
    </h3>
    <br />
    <input
      class="btn btn-success btn-lg"
      type="submit"
      value="Add Commentary"
    />
  </form>
</div>

{% endblock %}
