<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <title>Counter-Flask</title>
  </head>
  <body>
    <div id="container">
      <h1>Counter</h1>
      <h2>{{count}}</h2>
      <a href="/add"><button type="button">Add 2</button></a>
      <a href="/destroy_session"><button type="button">Reset</button></a>
    </div>

    <p>Counter</p>
    <p>You have visited this page: {{session['count']}} times</p>
    <form action="/increment" method="post">
      <button>Add 2</button>
    </form>
    <form action="/clear" method="post">
      <button>Clear counter</button>
    </form>
  </body>

  <!-- JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
</html>
