#container1 {
    text-align: center;
    background-color: lightcyan;
}

.box1 {
    background-color: black;
    width: 90px;
    height: 90px;
}

.box2 {
    background-color: white;
    width: 90px;
    height: 90px;
}

.chessboard {
    text-align: center;
    margin: 30px auto;
}