{% extends "layout.html" %} {% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/update/{{pet.0}}" method="POST">
        <div class="form-group">
          <input
            type="text"
            name="name"
            value="{{pet.1}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="age"
            value="{{pet.2}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="type"
            value="{{pet.3}}"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            <p>Update</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
